body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    background: rgba(199, 199, 199, 0.739);
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
    min-height: 100vh;
    width: 100vw;
}

.panel{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(145, 71, 71, 0.739);
    padding: 12vmin 6vmax;
    border-radius: 2vmin;
    font-size: 18px;
    margin: auto 0;
}

.passwordText, .copyButton, .generateButton{
    font-size: 5vmin;
    color: rgba(0, 0, 0, 0.865);
    border-radius: 5px;
    border: none;
    padding: 10px 10px;
    text-align: center;
}

.passwordText{
    cursor: text;
	margin: 0 2vmin 1vmin 0;
}

.passDiv{
	display: flex;
	justify-content: space-between;	
	width: 100%;
}

.buttonDiv{
    margin-top: 20px;
    width: 100%;
}

.generateButton{
    width: 100%;
    margin: 0px;
    background: rgba(255, 255, 255, 0.598);
    cursor: pointer;
}

.generateButton:hover{
    background: rgba(195, 195, 195, 0.598);
}

.generateButton:active{
    background: rgba(239, 239, 239, 0.598);
}

.copyButton{
    background:rgba(239, 239, 239, 0.776);
    cursor: pointer;
}

.copyButton:hover{
    background: rgba(230, 230, 230, 0.598);
}

.copyButton:active{
    background: rgb(248, 243, 243);
}

.copied{
    opacity: 0;
    color:rgb(199, 199, 199);
    font-size: 5vmin !important;
    padding: 3vmin 6vmin;
    margin: 0;
    bottom: 5vh;
    position: fixed;
    background: rgba(65, 65, 65, 0.892);
    border-radius: 5px;
    cursor: default;
    transition: opacity 0.5s ease-out;
	pointer-events: none;
}

.anim{
    opacity: 1;
	pointer-events: default !important;
}

.sliderDiv{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 2.5vmin;
}

.sliderDiv p{
    margin: 1.5vmin auto;
	font-size: 5vmin;
}

.slider{
    -webkit-appearance: none; 
    appearance: none;
    margin-top: 2.5vmin;
    width: 80%;
    background: transparent;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button{
      -webkit-appearance: none;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    background: rgba(255, 255, 255, 0.313);
    border-radius: 10px; 
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 20px; 
    width: 20px; 
    border-radius: 50%;
    background-color: #373737;
    cursor: pointer;
}

.numberChar{
    background: transparent;
    border: none;
    font-size: 5vmin;
    text-align: center;
    background: #c8c8c8c8;
    border-radius: 5px;
}

#passwords{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}